<div class="about-section">
  <img alt="My image name" src="./assets/images/quiz.png" style="width:100%" width="200" height="500"><br><br>

  <h1>The best platform to give quiz</h1>
  <button><a href="http://localhost:8083/Online-Examination-System/welcome">Visit</a></button>

</div>

<h2 style="text-align:center" >Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img alt="Rahul" src="./assets/images/hdppphoto.JPG" style="width:100%">
      <div class="container">
        <h2>Rahul Merugula</h2>
        <p class="title">Intern</p>
        <p>909116@cognizant.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img alt="Rahul" src="./assets/images/siddu.jpeg" style="width:100%" width="200" height="560">
      <div class="container">
        <h2>Siddartha Sunkara</h2>
        <p class="title">Intern</p>
        <p>908977@cognizant.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img alt="My image name" src="./assets/images/likki.jpeg" style="width:100%" width="200" height="500">
      <div class="container">
        <h2>Likitha P</h2>
        <p class="title">Intern</p>
        <p>909142@cognizant.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img alt="My image name" src="./assets/images/17951A1234.jpg" style="width:100%" width="200" height="500">
      <div class="container">
        <h2>Madhuri Ragala</h2>
        <p class="title">Intern</p>
        <p>909140@cognizant.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img alt="My image name" src="./assets/images/akhila.jpeg" style="width:100%" width="200" height="500">
      <div class="container">
        <h2>Akhila</h2>
        <p class="title">Intern</p>
        <p>909763@cognizant.com</p>
      </div>
    </div>
  </div>
</div>

